extends layout 
 
block content 
  h1= title 
 
  - let treeid = toShow._id 
  - let treeColor = toShow.treeColor 
  - let age = toShow.age 
  - let name = toShow.name
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{treeid} 
  - let actionid = "/resource/tree/" + treeid 
  form(id='TreeForm', action= actionid, method="PUT") 
    div.form-group 
        label.treeAttr(for='treeColor') treeColor
        input#treeColor(type='text', name='treeColor', value= treeColor ) 
    div.form-group 
        label.treeAttr(for='age') Tree age
        input#age(type='number', name='age', value= age ) 
    div.form-group 
        label.treeAttr(for='name') Tree name
        input#name(type='text', name='name', value= name ) 
    input(type="submit") 
 
  script. 
    document.forms['TreeForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 