extends layout 
 
block content 
  h1= title 
 
  form(id='TreeForm', action="/resource/tree", method="POST") 
    div.form-group 
        label.treeAttr(for='treeColor') treeColor
        input#treeColor(type='text', name='treeColor') 
    div.form-group 
        label.treeAttr(for='age') Tree age 
        input#age(type='number', name='age') 
    div.form-group 
        label.treeAttr(for='name') Tree name
        input#name(type='text', name='name') 
    input(type="submit") 
 
  script. 
    document.forms['TreeForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 